/* UTILITY */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.p-15{
  padding: 15px;
}
/* /UTILITY */

.wrapper{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: #000;
}

main{
  width: 100vw;
}

.sidebar{
  width: 17vw;
  height: calc(100vh - 80px);
  background: lightgreen;
}

.albums{
  width: 83vw;
  height: calc(100vh - 80px);
  background: pink;
}

footer{
  width: 100%;
  height: 80px;
  background: grey;
}
