/* UTILITY */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

.flex{
  display: flex;
}

.item{
  width: calc(100% / 6);
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 15px;
}

.p-15{
  padding: 15px;
}

.p-t-15{
  padding-top: 15px;
}

.p-l-15{
  padding-left: 15px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.inline-block{
  display: inline-block;
}

.display-none{
  display: none;
}

.c-white{
  color: #fff;
}

.c-grey{
  color: #6e6e6e;
}

.hover-white:hover{
  color: #fff;
}

.album{
  position: relative;
}

.album:hover .img-album{
  opacity: 0.5;
}

.play-hover{
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 60px;
}

.album:hover .play-hover{
  display: block;
}

.player-bar{
  width: 50%;
  height: 3px;
  background: #6e6e6e;
  vertical-align: middle;
  cursor: pointer;
}

.time-bar{
  height: 3px;
  background: #fff;
  position: relative;
}

.perc-20{
  width: 20%;
}

.perc-30{
  width: 30%;
}

.player-bar:hover .time-bar{
  background-color: #6c4675;
}

.white-point{
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-bar:hover .white-point{
  display: block;
}
/* /UTILITY */

main{
  width: 100vw;
}

.sidebar-container{
  width: 200px;
  height: calc(100vh - 80px);
  background: #000;
  position: relative;
}

.sidebar{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar-top{
  height: calc(100% - 91px);
  overflow-y: auto;
}

.logo{
  height: 60px;
  padding-bottom: 20px;
}

.first-list li{
  padding-bottom: 7px;
}

.icone-sidebar{
  height: 30px;
  vertical-align: -7px;
  padding-right: 10px;
}

.home{
  border-left: 4px solid #6c4675;
}

.add-play{
  vertical-align: -5px;
  padding-top: 10px;
}

.second-list li{
  padding-top: 10px;
}

.sidebar-bottom{
  height: 91px;
  background: #000;
}

.download img{
  height: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.account img{
  width: 20px;
  height: 20px;
  margin-top: 15px;
  vertical-align: bottom;
  background: #ccc;
  border-radius: 50%;
}

.main-section{
  width: calc(100% - 200px);
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.main-section-top{
  background: rgba(0,0,0,.5);
  width: calc(100% - 200px);
  height: 80px;
  text-align: right;
  line-height: 80px;
  position: fixed;
  padding-right: 30px;
  z-index: 2;
}

.upgrade a{
  background: #0a0c11;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 7px 20px;
  font-size: 15px;
}

.upgrade a:hover{
  font-size: 16px;
}

.main-section-bottom{
  background: #141922;
  padding-left: 15px;
}

nav{
  text-align: center;
  padding-bottom: 20px;
  margin-top: 80px;
}

nav ul li{
  display: inline-block;
  padding: 0 10px;
}

.evidence:after{
  content:"";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 3px;
  border-bottom: 3px solid #6c4675;
}

.main-section-bottom img{
  width: 100%;
}

.recents{
  flex-wrap: wrap;
}

.artists img{
  border-radius: 50%;
}

footer{
  width: 100%;
  height: 80px;
  background: #282828;
  position: fixed;
  justify-content: space-between;
  z-index: 3;
}

.footer-left{
  height: 60px;
  width: 30%;
  position: relative;
  top: 10px;
  margin-left: 15px;
}

.footer-left img{
  height: 60px;
  vertical-align: -15px;
}

.song-name{
  padding-left: 5px;
}

.like-and-save{
  padding-left: 5px;
}

.like-and-save i{
  padding-left: 10px;
  padding-bottom: 3px;
  display: block;
}

.footer-center{
  height: 60px;
  width: 40%;
  position: relative;
  top: 10px;
  text-align: center;
}

.player-top i{
  padding: 5px 10px;
  vertical-align: middle;
}

.play-button:hover{
  transform: scale(1.2);
}

.footer-right{
  height: 60px;
  line-height: 60px;
  width: 30%;
  position: relative;
  top: 10px;
  margin-right: 15px;
  text-align: right;
}

.footer-right i{
  padding-right: 10px;
}

/* MEDIA QUERY MD */
@media screen and (max-width: 992px){
  .item{
    width: calc(100% / 4);
  }

  .song-name{
    font-size: 15px;
  }
}

/* MEDIA QUERY SM */
@media screen and (max-width: 768px){
  .item{
    width: calc(100% / 2);
  }

  .footer-left, .footer-right{
    width: 30%;
  }

  .footer-center{
    width: 40%
  }

  .song-name{
    font-size: 10px;
  }

  .like-and-save{
    font-size: 12px;
  }
}

/* MEDIA QUERY XS */
@media screen and (max-width: 576px) {
  .xs-none{
    display: none;
  }

  .xs-block{
    display: block;
  }

  .sidebar-container{
    width: 60px;
  }

  .home{
    border: none;
  }

  .main-section{
    width: calc(100% - 60px);
  }

  .main-section-top{
    width: calc(100% - 60px);
  }

  .footer-left, .footer-right{
    width: 25%
  }

  .footer-center{
    width: 50%;
  }
}
