/* UTILITY */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.p-15{
  padding: 15px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.c-white{
  color: #fff;
}

.c-grey{
  color: #6e6e6e;
}

.border-b-grey{
  border-bottom: 1px solid #6e6e6e
}
/* /UTILITY */

.wrapper{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

main{
  width: 100vw;
}

.sidebar{
  width: 17vw;
  height: calc(100vh - 80px);
  background: #000;
}

.albums{
  width: 83vw;
  height: calc(100vh - 80px);
  background: #141922;
}

footer{
  width: 100%;
  height: 80px;
  background: #282828;
}
